XMLTaskZUYISF/XMLSchemaZUYISF.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--Egyszerű típusok kigyűjtése, saját típusok meghatározása, megszorítás-->
    <xs:element name="Szakterület" type="xs:string" />
    <xs:element name="Telefonszám" type="telefonszámTípus" />
    <xs:element name="Ügyvéd_Név" type="xs:string" />
    <xs:element name="Lakcím" type="xs:string" />
    <xs:element name="Szülidő" type="xs:date" />
    <xs:element name="Kor" type="xs:int" />
    <xs:element name="Priusz" type="priuszTipus" /> <!-- 1 vagy 0 | Van vagy nincs-->
    <xs:element name="Vád" type="xs:string" />
    <xs:element name="Típus" type="xs:string" />
    <xs:element name="Dátum" type="xs:date" />
    <xs:element name="Állapot" type="xs:string" />
    <xs:element name="Ügyek_száma" type="xs:string" />
    <xs:element name="Ítélet" type="xs:string" />
    <xs:element name="Bíró_Név" type="xs:string" />
    <xs:element name="Tapasztalat" type="xs:string" />
    <xs:element name="Tanítványok" type="xs:int" />
    <xs:element name="Jegyző_Név" type="xs:string" />
    <xs:element name="Munkaidő" type="xs:string" />
    <xs:element name="Nyelvtudás" type="xs:string" />


    <xs:simpleType name="telefonszámTípus">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+\d{11}" />
        </xs:restriction>
    </xs:simpleType>

    
    <xs:simpleType name="személyi_igTipus">
        <xs:restriction base="xs:string">
            <xs:length value="8" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="priuszTipus">
        <xs:restriction base="xs:boolean" />
    </xs:simpleType>


    <!--Komplex típusokhoz saját típus meghatározása, sorrendiség, számosság etc.-->
    <xs:complexType name="ÜgyvédTípus">
        <xs:sequence>
            <xs:element ref="Szakterület" />
            <xs:element ref="Telefonszám" minOccurs="1" maxOccurs="unbounded" />
            <xs:element ref="Ügyvéd_Név" />
        </xs:sequence>
        <xs:attribute name="Ügyvédi_ID" type="xs:integer" use="required"/>
        <xs:attribute name="Védi" type="személyi_igTipus" use="required"/>
    </xs:complexType>


    <xs:complexType name="VádlottTípus">
        <xs:sequence>
            <xs:element ref="Lakcím" />
            <xs:element ref="Szülidő" />
            <xs:element ref="Kor" />
            <xs:element ref="Priusz" />
            <xs:element name="Név">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Vnév"/>
                        <xs:element name="Knév"/>
                    </xs:sequence>  
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Személyi_ig" type="személyi_igTipus" use="required"/>
    </xs:complexType>


    <xs:complexType name="Bűnös-eTípus">
        <xs:sequence>
            <xs:element ref="Vád" />
        </xs:sequence>
        <xs:attribute name="Vádlott" type="személyi_igTipus" use="required"/>
        <xs:attribute name="Ügy" type="xs:integer" use="required"/>
    </xs:complexType>

    
    <xs:complexType name="ÜgyTípus">
        <xs:sequence>
            <xs:element ref="Típus" />
            <xs:element ref="Dátum" />
            <xs:element ref="Állapot" />
        </xs:sequence>
        <xs:attribute name="Ügyszám_ID" type="xs:integer" use="required" />
    </xs:complexType>


    <xs:complexType name="Ítéletet_hozTípus">
        <xs:sequence>
            <xs:element ref="Ügyek_száma" />
            <xs:element ref="Ítélet" />
        </xs:sequence>
        <xs:attribute name="Ügy" type="xs:integer" use="required" />
        <xs:attribute name="Bíró" type="xs:integer" use="required" />
    </xs:complexType>

    
    <xs:complexType name="BíróTípus">
        <xs:sequence>
            <xs:element ref="Bíró_Név" />
            <xs:element ref="Tapasztalat" />
            <xs:element ref="Tanítványok" />
        </xs:sequence>
        <xs:attribute name="Bíró_ID" type="xs:integer" use="required" />
    </xs:complexType>


    <xs:complexType name="JegyzőTípus">
        <xs:sequence>
            <xs:element ref="Jegyző_Név" />
            <xs:element ref="Munkaidő" />
            <xs:element ref="Nyelvtudás" />
        </xs:sequence>
        <xs:attribute name="Jegyző_ID" type="xs:integer" use="required" />
        <xs:attribute name="Rögzítés" type="xs:integer" use="required" />
    </xs:complexType>


    <!--Gyökérelemtől az elemek felhasználása-->
    <xs:element name="Tárgyalás_ZUYISF">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ügyvéd" type="ÜgyvédTípus" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Vádlott" type="VádlottTípus" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Bűnös-e" type="Bűnös-eTípus" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="Ügy" type="ÜgyTípus" minOccurs="1" maxOccurs="unbounded"/> 
                <xs:element name="Ítéletet_hoz" type="Ítéletet_hozTípus" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="Bíró" type="BíróTípus" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Jegyző" type="JegyzőTípus" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>


    <!--Elsődleges kulcsok-->
    <xs:key name="Ügyvéd_kulcs">
        <xs:selector xpath="Ügyvéd" />
        <xs:field xpath="@Ügyvédi_ID" />
    </xs:key>

    <xs:key name="Vádlott_kulcs">
        <xs:selector xpath="Vádlott" />
        <xs:field xpath="@Személyi_ig" />
    </xs:key>

    <xs:key name="Ügy_kulcs">
        <xs:selector xpath="Ügy" />
        <xs:field xpath="@Ügyszám_ID" />
    </xs:key>

    <xs:key name="Bíró_kulcs">
        <xs:selector xpath="Bíró" />
        <xs:field xpath="@Bíró_ID" />
    </xs:key>

    <xs:key name="Jegyző_kulcs">
        <xs:selector xpath="Jegyző" />
        <xs:field xpath="@Jegyző_ID" />
    </xs:key>


    <!--Idegen kulcsok-->
    <xs:keyref name="Vádlott_Ügyvéd_kulcs" refer="Vádlott_kulcs">
        <xs:selector xpath="Ügyvéd" />
        <xs:field xpath="@Védi" />
    </xs:keyref>

    <xs:keyref name="Bünös-e_Vádlott_kulcs" refer="Vádlott_kulcs">
        <xs:selector xpath="Bűnös-e" />
        <xs:field xpath="@Vádlott" />
    </xs:keyref>

    <xs:keyref name="Bünös-e_Ügy_kulcs" refer="Ügy_kulcs">
        <xs:selector xpath="Bűnös-e" />
        <xs:field xpath="@Ügy" />
    </xs:keyref>

    <xs:keyref name="Ügy_Ítéletet_hoz_kulcs" refer="Ügy_kulcs">
        <xs:selector xpath="Ítéletet_hoz" />
        <xs:field xpath="@Ügy" />
    </xs:keyref>

    <xs:keyref name="Bíró_Ítéletet_hoz_kulcs" refer="Bíró_kulcs">
        <xs:selector xpath="Ítéletet_hoz" />
        <xs:field xpath="@Bíró" />
    </xs:keyref>

    <xs:keyref name="Bíró_Jegyző_kulcs" refer="Bíró_kulcs">
        <xs:selector xpath="Jegyző" />
        <xs:field xpath="@Rögzítés" />
    </xs:keyref>



    </xs:element>

</xs:schema>